<!DOCTYPE html>
<html>
    <head>
        <title>ブログアプリ</title>
    </head>
    <body>
        <h1 style="text-align: center;">{{ blog.title }}</h1>
        <div style="width: 70%; margin: 0px auto">
            <div>
                <div style="margin: 60px 20px;">
                    {{ blog.text }}
                    {{ blog.created_datetime }}
                    {{ blog.updated_datetime }}
                    <a href="{% url 'blogs:index' %}">戻る</a>
                </div>
            </div>
        </div>
    </body>
</html>