<!DOCTYPE html>
<html>
    <head>
        <title>ブログ管理サイト</title>
    </head>
    <body>
        <h1 style="text-align: center;">My Blog</h1>
        <div style="width: 70%; margin: 0px auto;">
            <hr>
            {% for blog in blogs %}
            <div>
                <h3>{{ blog.title }}</h3>
                <div>{{ blog.text |truncatechars:100}}</div>
                <div style="text-align: right;">
                    <a href="{% url 'blogs:detail' blog_id=blog.id %}">記事を読む</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </body>
</html>